work_space/
__pycache__/
data/__pycache__/
data/correlation_weights_useless/
data/faces_emore
data/faces_webface_112x112/
data/dfw

.ipynb_checkpoints/
notebooks/
logs/
test/

.vscode/
data/IJB-A
data/IJB_A_Frontal
data/IJB_release
data/YTF_aligned_SeqFace

